@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #ffffff;
}
/* Header */
.header {
  width: 95%;
  margin: auto;
}
.navbar {
  padding: 8px 15px;
  display: flex;
  flex-direction: column-reverse;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 15px;
  float: right;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: black;
}
/* Home */
.home {
  width: 85%;
  margin: 8% auto;
  /* height: 70vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-contents h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.home-contents p {
  width: 700px;
  font-size: 16px;
  margin-bottom: 25px;
}
.home-btn {
  padding: 8px 30px;
  border: none;
  outline: none;
  background: #ff6464;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
}
.home-image {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.home-image img {
  width: 350px;
  border-radius: 50%;
}

/* about */
.about {
  width: 100%;
  background: #edf7fa;
}
.recent-post {
  width: 85%;
  margin: 4% auto;
  padding: 20px 30px;
}
.view-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.view-all p {
  font-size: 17px;
}
.view-all a {
  text-decoration: none;
  color: blue;
  font-size: 15px;
}
.recent-post-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.content-1 {
  padding: 35px 30px;
  background: #ffffff;
}
.content-1 h2 {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 15px;
}
.content-1 h4 {
  font-size: 16px;
  font-weight: 500;
  color: #555;
  margin-bottom: 15px;
}
.content-1 h4 span {
  margin-left: 12px;
  margin-right: 12px;
}
.content-1 p {
  font-size: 16px;
}
/* featured */
.featured {
  width: 80%;
  margin: -40px auto;
}
.feature-works h4 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 30px;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 10px;
}

.image img {
  width: 230px;
  border-radius: 10px;
}
.feature-works-contents h1 {
  font-size: 24px;
  color: #333;
  margin-top: -30px;
  margin-bottom: 10px;
}
hr {
  margin-bottom: 40px;
}
.feature-works-contents h4 {
  font-size: 17px;
  font-weight: 500;
  color: #555;
}
.feature-works-contents h4 span {
  padding: 1px 12px;
  background: #333;
  font-weight: 600;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
}
.feature-works-contents p {
  margin-top: -15px;
  font-size: 16px;
}
.footer {
  text-align: center;
  margin-top: 100px;
}
.social-media-icons i {
  font-size: 24px;
  margin-left: 18px;
  margin-bottom: 8px;
}
.social-media-icons p {
  font-size: 13px;
}
@media (max-width: 1130px) {
  .home {
    width: 95%;
    flex-direction: column-reverse;
  }
  .home-image {
    margin-bottom: 20px;
  }
  .view-all a {
    display: none;
  }
  .view-all {
    text-align: center;
  }
  .recent-post-contents {
    flex-direction: column;
  }
  .featured {
    margin-top: 50px;
  }
  .dashboard {
    flex-direction: column;
  }
  .image img {
    width: 500px;
  }
}
@media (max-width: 770px) {
  .home {
    width: 95%;
    text-align: center;
  }
  .home h1 {
    font-size: 30px;
    text-align: center;
  }
  .home p {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .recent-post {
    width: 100%;
    margin: 4% auto;
    padding: 10px 15px;
  }
  .featured {
    width: 85%;
    margin: -40px auto;
  }
  .navbar {
    /* padding: 8px 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
